.app_theme_dark {
    --bg-color: #07075d;
    --inverted-bg-color: #f2f2fa;
    --primary-color: #058305;
    --secondary-color: #08b908;
    --inverted-primary-color: #08b908;
    --inverted-secondary-color: #058305;
}